:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid var(--color-border);
}

img {
  width: auto;
  height: 256px;
  max-width: 100%;
  object-fit: contain;
}

kemet-button {
  --kemet-button-background-color: rgb(var(--kemet-color-gray-800));
}

kemet-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
