:host {
  display: block;
  max-width: 480px;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  & > div,
  kemet-button {
    grid-column: span 2
  }
}

kemet-input {
  --kemet-color-text: var(--color-white);
  --kemet-input-border: 1px solid var(--color-white);
}
