:host {
  display: flex;
  gap: 1rem;
  margin: 6rem auto;
  padding: 0 2rem;
  max-width: var(--page-width);
}

:host > * {
  flex: 1;
}

:host > :first-child {
  position: relative;
}

h2 {
  margin: 0;
}

