---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import 'kemet-ui/styles/kemet.base.css';
import '@wordpress/block-library/build-style/style.css';
import '@wordpress/block-library/build-style/theme.css';
import '../styles/base.css';
import '../styles/cea.css';
import '../styles/wordpress.css';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="description" content="The world's first LASZ app" />
		<link rel="preload" as="image" href="/logo.webp" fetchpriority="high" />
		<title>The world's first LASZ app</title>
	</head>
	<body>
    <kemet-drawer>
      <nav slot="navigation">
        [get sidebar]
      </nav>
      <section slot="content">
        <Header />
        <slot />
        <Footer />
      </section>
    </kemet-drawer>
	</body>
</html>

<script>
  // astro knows to load the following on the client
  // we want these design system elements to load globally
  import 'kemet-ui/elements/drawer';
  import 'kemet-ui/elements/card';
  import 'kemet-ui/elements/button';
  import 'kemet-ui/elements/badge';
  import 'kemet-ui/elements/fab';
  import 'kemet-ui/elements/alert';
  import 'kemet-ui/elements/icon-bootstrap';
  import 'kemet-ui/elements/field';
  import 'kemet-ui/elements/input';
  import 'kemet-ui/elements/popper';
  import 'kemet-ui/elements/carousel';
  import 'kemet-ui/elements/carousel-slide';
  import 'kemet-ui/elements/carousel-prev';
  import 'kemet-ui/elements/carousel-next';
  import 'kemet-ui/elements/select';
  import 'kemet-ui/elements/option';
  // app custom elements
  import '../elements/lasz-header';
  import '../elements/lasz-nav-top';
  import '../elements/lasz-product';
</script>
